.wrap {
  max-width: 1024px;
  margin: 0 auto;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}
/*header*/
.header {
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  position: sticky; /*固定header選單*/
  top: 0;
  z-index: 2;
  h1 {
    a {
      display: block;
      background-image: url(https://i.postimg.cc/prJyxcxk/logobyyccy.jpg);
      width: 150px;
      height: 30px;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .menu {
    display: flex;
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 10px 20px;
    }
    :hover {
      background: #3d1101;
    }
  }
  label,
  input {
    display: none;
  }
  @media (max-width: 767px) {
    label {
      display: block;
      cursor: pointer;
      img {
        width: 40px;
      }
    }
    .menu {
      max-height: 0;
      overflow: hidden;
      transition: 1s;
      position: absolute;
      z-index: 100;
      top: 41px;
      right: 0;
      left: 0;
      flex-direction: column;
      li {
        background: #000;
        text-align: center;
      }
    }
    input:checked ~ .menu {
      max-height: 200px;
    }
  }
}

/*banner*/
.banner {
  background-image: url(https://i.postimg.cc/zGmWjKMz/header-desktop.png);
  max-width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner-text {
    background: rgba(0, 0, 0, 0.4);
    width: 70%;
    padding: 40px;
    color: white;
    .bite {
      display: block;
      font-size: 40px;
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      .bite {
        font-size: px;
      }
    }
       @media (max-width: 375px) {
      span {
        display: block;
      }
      .bite {
        font-size: 30px;
      }
    }
    li {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}
@media (max-width: 375px) {
  .banner {
    background-image: url(https://i.postimg.cc/nh8rYcWR/1.png);
    background-repeat: no-repeat;
    background-color: #000;
    height: 350px;
  }
}


/*login*/
.login {
  background: #efe9e7;
  color: #642100;
  padding: 50px;
  text-align: center;
  font-weight: bolder;

  h2 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .loginbox {
    border-top: 5px solid #f56c23;
    box-shadow: 5px 5px 10px gray;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    text-align: left;
    font-size: 20px;
    position: relative;
    h3 {
      text-align: center;
      font-weight: bolder;
      font-size: 20px;
      margin-bottom: 30px;
    }
    input {
      width: 95%;
      font-size: 30px;
      border: 2px solid #cccccc;
      border-radius: 5px;
      margin: 10px 0 10px 0;
      text-indent: 35px;
    }
    a {
      text-decoration: none;
      color: #f56c23;
      display: block;
      margin-bottom: 20px;
    }
    .btnbox {
      display: flex;
      justify-content: space-between;
      width: 97%;
      .btn {
        width: 45%;
        color: white;
        font-size: 20px;
        padding: 10px 8% 10px 0;
        border: none;
        cursor: pointer;
      }
      .btn1 {
        background: #9b9796;
      }
      .btn2 {
        background: #f56c23;
      }
    }

    /*更改icon位置*/
    i {
      position: absolute;
      left: 30px;
    }
    .mail {
      top: calc(32% - 0.5em);
    }
    .lock {
      top: calc(59% - 0.5em);
    }
  }
}
@media (max-width: 767px) {
  .login {
    h2 {
      font-size: 3em;
    }
    .loginbox {
      width: 75%;
    }
  }
}
@media (max-width: 343px) {
  .login {
    h2 {
      font-size: 2em;
    }
    .loginbox {
      width: 95%;
      .mail{
         top: calc(27% - 0.5em);
      }
      .lock{
        top: calc(50% - 0.5em);
      }
    }
  }
  .btnbox {
    flex-direction: column;
    .btn {
      padding-right: 50%;
    }
  }
}

/*footer*/
.footer {
  background: #efe9e7;
  color: #642100;
  padding: 60px 30px 200px;
  position: relative;
  span {
    display: block;
    width: 30%;
    float: left;
    margin: 0 20px;
  }
  h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  li {
    list-style: disc inside;
  }
  .clearfix {
    clear: both;
  }
  @media (max-width: 767px) {
    span {
      width: 50%;
      margin: 0;
    }
  }
  @media (max-width: 375px) {
    span {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  img {
    display: block;
    position: absolute;
  }
  .g {
    width: 75px;
    height: 50px;
    bottom: 17.5%;
    right: 16%;
  }
  .twitter {
    width: 70px;
    height: 80px;
    bottom: 13%;
    right: 9.5%;
  }
  .facebook {
    width: 60px;
    height: 70px;
    bottom: 14.5%;
    right: 4%;
  }
  .logo {
    top: 25%;
    right: 5%;
  }

  @media (max-width: 767px) {
    .facebook {
      right: 1%;
    }
    .twitter {
      right: 8%;
    }
    .g {
      right: 15%;
    }
    .logo {
      top: 50%;
      width: 30%;
      right: 2%;
    }
  }
  @media (max-width: 375px) {
    .facebook {
      top: 82.5%;
      right: 0;
    }
    .twitter {
      top: 81.5%;
      right: 15%;
    }
    .g {
      top: 84.5%;
      right: 30%;
    }
    .logo {
      width: 60%;
      top: 70%;
    }
  }
}

/*回到頂部*/
.top{
  position: fixed;
  right: 5%;
  bottom: 0;
  opacity: 0.8;
  display: none;
}
@media(max-width: 767px){
  .top{
    right: 1%;
  }
}